<div class="main">
  <div class="inner">
    <div class="user__wrapper">
     <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
      <h2 class="page-heading">
      </h2>
     